<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Sample WebApp</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--
      If you not using virtual host then you need to fix the js and css file path
      Jika tidak menggunakan virtual host maka perbaiki file path untuk js dan css
      contoh :  /js/angular.js
                file:///E:/Program%20Files/wamp/www/geeknesia_sample_webapp/js/angular.js
    -->
    <script src="js/angular.js"></script>
    <script src="js/Chart.js"></script>
    <script src="js/angular-chart.js"></script>
    <script src="js/angular-busy.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/ng-csv.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/angular-chart.css">
    <link rel="stylesheet" href="css/angular-busy.css">
  </head>
  <body ng-app="formExample">
    <div class="container-fluid" ng-controller="ExampleController">
      <h1 align="center">Sample Web App for Geeknesia API</h1>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              General Setting
            </div>
            <div class="panel-body">
              <form >
                <!-- <div class="form-group">
                  <label for="url">API Server</label>
                  <select name="" id="input" class="form-control" required="required" ng-model="url">
                    <option value="http://api.geeknesia.com/api">OLD</option>
                    <option value="http://api-phalcon.geeknesia.com/api">NEW</option>
                  </select>
                </div> -->
                <div class="form-group">
                  <label for="apiKey">API Key</label>
                  <input type="text" class="form-control" id="apiKey" placeholder="Enter API Key" ng-model="apiKey">
                  <pre>sample : d5eb7e61ca97bc30692d7aec3bb5861f</pre>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="panel panel-primary">
            <div class="panel-heading">
              Send action to device using MQTT
            </div>
            <div class="panel-body">
              <div cg-busy="{promise:myPromise3,message:'Sending Device Action'}"></div>
              <form >
                <div class="form-group">
                  <label for="action">Action</label>
                  <input type="text" class="form-control" id="action" placeholder="Enter Action String" ng-model="action">
                  <pre>sample : on</pre>
                </div>
                <button type="button" class="btn btn-default" ng-click="sendAction(action)" id="submit">Send Action</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div style="clear:both"></div>
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              Send Data Sensor to Geeknesia
            </div>
            <div cg-busy="{promise:myPromise,message:'Sending Sensor Data'}"></div>
            <div class="panel-body">
              <form >
                <div class="form-group">
                  <label for="attributes">Attributes</label>
                  <input type="text" class="form-control" id="attributes" ng-model="device.attributes" placeholder="Enter data using json format and no space">
                  <pre>sample = {"temperature":"25"}</pre>
                </div>

                <button type="button" class="btn btn-default" ng-click="execute(device)" id="submit">Send Data</button>
              </form>
            </div>
          </div>

          <div class="panel panel-info">
            <div class="panel-heading">
              Sensor Data Feed
              <button type="button" ng-csv="exportCSV()" filename="data.csv">Export to CSV</button>
            </div>
            <div class="panel-body">
              <table class="table table-stripped">
                <tr>
                  <th>Date</th>
                  <th>Data</th>
                </tr>
                <tr ng-repeat="x in output.data">
                  <td>{{ x.datetime | date : 'd MMM yyyy H:mm:ss'}}</td>
                  <td>{{ formatOutput(x.attributes) }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-8 table-responsive">
          <div class="panel panel-primary">
            <div class="panel-heading">
              Setting for retrieving data
            </div>
            <div cg-busy="{promise:myPromise2,message:'Retrieving Sensor Data'}"></div>
            <div class="panel-body">
              <form class="form-inline">
                <div class="form-group">
                  <!-- <label>Interval</label>
                  <input type="number" class="form-control" id="interval" placeholder="Interval" ng-model="interval" title="Interval in second"> -->
                  <label>Limit</label>
                  <input type="number" class="form-control" id="limit" placeholder="Limit" ng-model="limit">
                  <label>
                    <input type="checkbox" value="datetime" ng-model="filter" id="filter">
                    Filter
                  </label>
                  <div class='input-group date'>
                      <input type='text' class="form-control picker" placeholder="Date start" ng-model="dateStart"/>
                      <span class="input-group-addon">
                          Start
                      </span>
                  </div>
                  <div class='input-group date'>
                      <input type='text' class="form-control picker" placeholder="Date end" ng-model="dateEnd"/>
                      <span class="input-group-addon">
                          End
                      </span>
                  </div>
                  <br><br>
                  <button type="button" class="btn btn-default" ng-click="getFeeds()" id="submit">Retrieve</button>
                </div>

              </form>
            </div>
          </div>

          <canvas class="chart chart-line" id="line" data="dataSeries" labels="labels"
    legend="true" series="series" click="onClick">

        </canvas>
        </div>
      </div>
    </div>
    <script>
      // $('.picker').datetimepicker({
      //   format: 'Y-m-d h:m:s',
      //   onSelectDate: function(ct, $i) {
      //     $(this).trigger('input');
      //   }
      // });
    </script>
    <script>
      var myApp = angular.module('formExample', ["chart.js", 'cgBusy', 'ngSanitize', 'ngCsv']);
      myApp.config(['$httpProvider', function($httpProvider) {
                $httpProvider.defaults.useXDomain = true;
                delete $httpProvider.defaults.headers.common['X-Requested-With'];
            }
        ]);

      myApp.controller('ExampleController', ['$scope', '$http', '$interval', '$filter', function($scope, $http, $interval, $filter) {
          // general variable with default value
          $scope.url = 'http://api.geeknesia.com/api';
          $scope.apiKey = 'd5eb7e61ca97bc30692d7aec3bb5861f';
          $scope.myPromise;
          $scope.myPromise2;
          $scope.myPromise3;
          $scope.interval = 15; // 15 detik
          $scope.action;

          // getFeed response variable
          $scope.output;
          $scope.limit = 5;
          $scope.filter = false;
          var d = new Date();
          $scope.dateStart = d.toISOString();
          $scope.dateEnd = d.toISOString();

          // graph variable
          $scope.labels = [];
          $scope.series = [];
          $scope.dataSeries = [];
          var emptyArray = [];

          $scope.onClick = function (points, evt) {
            console.log(points, evt);
          };

          // execute getFeed every 10 seconds
          //$interval(function() { $scope.getFeeds(); }, $scope.interval * 1000);

          $scope.isValidJSON = function(str) {
            try {
                JSON.parse(str);
            } catch (e) {
                return false;
            }
            return true;
          };

          $scope.validateForm = function(device) {
            if (typeof(device) != 'undefined') {
              if (typeof(device.apiKey) == 'undefined' && typeof(device.attributes) == 'undefined' ) {
                return false;
              } else {
                return true;
              }
            } else {
              return false;
            }
          }

          $scope.execute = function(device) {
            if (this.validateForm(device) == false) {
              alert('Fill all the fields');
            } else {
              if (this.isValidJSON(device.attributes)) {
                $scope.myPromise = $http.get(this.url + '/data?attributes=' + device.attributes+'&api_key='+this.apiKey,
                  {
                    method:'GET',
                    headers:{
                      'Content-Type' : 'text/plain'
                    }
                  }
                )
                .success(function(data, status, headers, config) {
                  console.log(data);
                });
              } else {
                alert('Invalid format for attributes');
              }
            }
          };

          $scope.sendAction = function(action) {
            $scope.myPromise3 = $http.get(this.url + '/control/' + action+'?api_key='+ this.apiKey,
              {
                method:'GET',
                headers:{
                  'Content-Type' : 'text/plain'
                }
              }
            )
            .success(function(data, status, headers, config) {
              console.log(data);
            });
          };


          $scope.getFeeds = function() {
            if (this.apiKey == null) {
              return false;
            } else {
              if ($scope.filter == true) {
                var dataFilter = {
                  'limit': $scope.limit,
                  'filter': 'datetime',
                  'from': $scope.dateStart,
                  'to': $scope.dateEnd
                };
              } else {
                var dataFilter = {
                  'limit' : $scope.limit
                };
              }
              $scope.myPromise2 = $http(
                {
                  url : this.url + '/attributes?api_key='+this.apiKey,
                  method : 'POST',
                  data : dataFilter,
                  headers : {
                    'Content-Type': 'application/json'
                  }
                }).success(function(data, status, headers, config) {
                  console.log(data);
                  $scope.output = data.output;
                  $scope.formatGraph();
                });
            }
          }

          // formatting the getFeed response
          $scope.formatOutput = function(str) {
            var attributes = angular.fromJson(str);
            var output = '';
            angular.forEach(attributes, function(item) {
              output += item.name + ' : ' + item.value + " ";
            });
            return output;
          }

          $scope.formatGraph = function() {
            $scope.labels.length = 0;
            emptyArray.length = 0;
            $scope.dataSeries.length = 0;

            //setup series (attributes)
            $scope.series.length = 0;
            if (typeof($scope.output.data[0]) == 'undefined') {
              alert('No data retrieved. Please change the start and end date or uncheck the filter');
              return;
            }
            var attributeLength = $scope.output.data[0].attributes.length;
            emptyArray.length = 0;
            for (var i = 0; i < attributeLength; i++) {
              $scope.series.push($scope.output.data[0].attributes[i].name);
              emptyArray.push([]);
            };

            angular.forEach($scope.output.data, function(item) {
              $scope.labels.push($filter('date')(item.datetime, 'd MMM yyyy H:mm:ss'));

              for (var i = 0; i < item.attributes.length; i++) {
                emptyArray[i].push(item.attributes[i].value);
              };
            });
            for (var i = 0; i < emptyArray.length; i++) {
              $scope.dataSeries.push(emptyArray[i]);
            }
          }


          $scope.exportCSV = function() {
            // format data
            var header = [];
            header.push('timestamp');
            angular.forEach($scope.series, function(item) {
              header.push(item);
            });

            var data = [];
            data.push(header);

            // transpose the data
            for (var i = 0; i < $scope.labels.length; i++) {
              var emptyArray = [];
              emptyArray.push($scope.labels[i]);
              for(var j = 0; j < $scope.dataSeries.length; j++) {
                emptyArray.push($scope.dataSeries[j][i]);
              }
              data.push(emptyArray);
            }

            return data;
          }
        }]);
    </script>
  </body>
</html>
